
	<!DOCTYPE html>
	<html>

	<head>
		<title>Cart</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->

		<style>
			.col-sm-4 {
				margin: 15px 15px;
			}
		</style>

	</head>

	<body>
		<header class="theme-main-header" style="background-color: rgba(19, 35, 47, 0.9);">
			<a href="/form-page" class="logo float-left tran4s"><img src='images/left-arrow.png' height="30" width="30" style="margin-left:10px;"></a>
        <div class="container">
          <a href="/" class="logo float-left tran4s"><h3 style="color: white;margin-top:5px;">Xverify</h3></a>

          <!-- ========================= Theme Feature Page Menu ======================= -->
          <nav class="navbar float-right theme-main-menu one-page-menu">
             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                 <span class="sr-only">Toggle navigation</span>
                 Menu
                 <i class="fa fa-bars" aria-hidden="true"></i>
               </button>
             </div>
             <!-- Collect the nav links, forms, and other content for toggling -->
             <div class="collapse navbar-collapse" id="navbar-collapse-1">
               <ul class="nav navbar-nav">


            <% if (!user) { %>

     <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: #000000;">Login</a>
        <ul class="dropdown-menu" style="background-color: #000000;">
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </li>

     <% } else { %>

      <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= user.Branch_name %></a>
        <ul class="dropdown-menu" style="background-color: #000000;">
          <!-- <li><a href="/profile">Profile</a></li> -->
          <li><a href="/logout">Logout</a></li>
        </ul>
      </li>
      <% } %>


<% if (user) { %>
<li><a href="/cart" style="padding: 0;"> <button class="btn btn-primary" style=" " >Fill Details <span class = "glyphicon glyphicon-chevron-right" style="color: #ffffff;"></span><span class="badge" ><%= cart %></span></button></a></li>

  <% } else { %>
<li> <a href="/cart" class = "glyphicon glyphicon-chevron-right"></a></li>

<% } %>
               </ul>
             </div><!-- /.navbar-collapse -->
          </nav> <!-- /.theme-feature-menu -->
        </div>
      </header>

			<div class="container">
								<div class="row" style="padding-top: 80px;">
		<% for (var i=0; i<products.length; i++){ %>
			<form method="post" action="/cart?<%=i%>">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 " style="">


							<!-- <button type="button" id="submit  name="submit"  class = "item" value = "<%= products[i].title %>" >add to cart</button> -->
							<!-- <label><input type="checkbox" id="submit"  name="sport" value = "<%= products[i].title %>" ></label> -->

							<!-- <label for="pan" style="margin-left: 10px;"><%= products[i].title %></label>
				<div>
				<label for="price" style="margin-left: 30px;"><%= products[i].price %></label> -->
							<div class="btn-group" role="group" aria-label="...">
								<input type="hidden" name="quantity" id="quantity" value="1"></input>
							</div>

							<div class="form-group">
								<input type="hidden" name="product_id" id="product_id<%=products[i].id_new%>" value="<%=products[i].id%>"></input>
								<input type="hidden" name="priceHidden" id="priceHidden<%=products[i].id_new%>" value="<%=products[i].price%>"></input>
									<input type="hidden" name="formHidden" id="formHidden<%=products[i].id_new%>" value="<%=products[i].form%>"></input>

								<input type="text" name="item" id = "title<%=products[i].id_new%>"class="form-control" readonly="readonly" value="<%= products[i].title %>"></input>
								<!-- <input type="text" name="products[i].title" class="form-control" value="<%= products[i].title %>"></input> -->
								<!-- <input type="text" name="priceValue" id="priceValue<%=products[i].id_new%>" class="form-control" readonly="readonly" value="<%= products[i].price %>"></input> -->
								<!-- <input type="text" name="products[i].price" id="priceValue" class="form-control" value="<%= products[i].price %>"></input> -->
								<% if (user) { %>
									<center><button type="button" onclick = "addtoCart('<%=products[i].id_new%>');" id = "product<%=products[i].id_new%>" style="margin-top: 10px;" class="btn btn-primary btn-sm"><b>VERIFY</b></button></center>
									<% } else { %>
										<a href='/signup' class="btn btn-warning btn-sm"> <b>signup to Verify</b> </a>
										<% } %>
							</div>

						</div>


				<!-- <button type="submit" name="submit">submit</button> -->
			</form>
			<% } %>
		</div>
		</div>






	</body>
<script>
	function addtoCart(id){

		var product_id = $("#product_id"+id).val();
		console.log(product_id)
		var title = $("#title"+id).val();
		var priceValue = $("#priceValue"+id).val();
		var formHidden = $("#formHidden"+id).val();
		console.log(product_id,title,priceValue,formHidden);
		$.ajax({
          type: "POST",
          url: '/cart',
          data: {product_id,title,priceValue,formHidden},
          success: function(data) {
						$(".badge").text(data);
						$("#product"+id).css('color','red');
						$("#product"+id).text('Added');
						$("#product"+id).prop('disabled',true);
          },
          error: function() {
            alert('it broke');
        	},
      });
    }

</script>
	</html>
