<!DOCTYPE html>
<html>
<head>
		<title>Rediect</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #be3a47;">
	<div class="container">
		<div class="row" style="margin-top: 10px; background-color: #13232f">
			<div class="col-sm-4">
				<h2 style=" color: #ffffff;">I N V O I C E</h2>
			</div>
			<div class="col-sm-4">
				<h4 style=" color: #ffffff;">+91 9167518440</h4>
				<h4 style=" color: #ffffff;">info@creditkundali.in</h4>
				<h4 style=" color: #ffffff;">www.creditkundali.in</h4>
			</div>
			<div class="col-sm-4">
				<h4 style=" color: #ffffff;" >Merchant ID : <%= cred.merchant_id %></h4>
				<h4 style=" color:#ffffff;">Merchant Display : <%= cred.merchant_display %></h4>
				<h4 style=" color:#ffffff;">Amount : Rs.<%= cred.invoice_amt %></h4>
			</div>
		</div>


	<!-- <br><br><br><br><br> -->
<!-- <center style="border: 2px solid white; border-radius: 10px; padding: 20px; margin-left: 310px; width: 700px;"> -->
	<div class="row" style="margin-top: 10px; border: 2px solid white;">
			<div class="col-sm-4">
				<h4 style=" color: #ffffff;">Billed To:</h4>
				<p style=" color: #ffffff;">Client Name : <%= user.first_name %> <%= user.last_name %><br>
				Email : <%= user.email %><br>
				Mobile : <%= user.number %><br></p>
			</div>
			<div class="col-sm-4">
				<h4 style=" color: #ffffff;">Invoice Number:</h4>
				<p style=" color: #ffffff;"><%= cred.invoice %><br>
			</div>
			<div class="col-sm-4">
				<h4 style=" color: #ffffff;">Total Amount:</h4>
				<h2 style=" color: #ffffff; border: 2px solid white; background-color: #13232f; padding:10px; width: 150px; text-align: center; ">Rs. <%= cred.invoice_amt %></h2>
			</div>
		</div>
<form  method="post" action="https://secure.fonepaisa.com/pg/pay">
	<input type="hidden" name="id" value="<%= cred.id %>">

<input type="hidden" name="merchant_id" value="<%= cred.merchant_id %>">

<input type="hidden" name="merchant_display" value="<%= cred.merchant_display %>">
    <input type="hidden" name="invoice" value="<%= cred.invoice %>" >

<input type="hidden" name="invoice_amt" value="<%= cred.invoice_amt %>" >

    <!-- <input name="amount" value="<%= cred.amount %>" >  -->

    <input type="hidden" name="sign" value="<%= cred.sign %>" >

    <input type="hidden" name="callback_url" value="<%= cred.callback_url %>">
    <input type="hidden" name="callback_failure_url" value="<%= cred.callback_failure_url %>"><br>
    <center><input type="submit" value="SUBMIT" class="btn btn-primary btn-lg" style="background-color: rgba(19, 35, 47, 0.9); width: 300px; border-color: rgba(19, 35, 47, 0.9);"></center>
</form>
<!-- </center> -->
</div>
</div>
</div>
</body>
</html>
