<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

		<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">


		<style type="text/css">
		.posh {
		font-size:15px;
		padding: 15px;
		margin: 15px;
	}
		body{
			font-family: 'Poppins', sans-serif;
			background-color:#F5F5F5;
			/*background-image: url('1.jpg');
			background-repeat:no-repeat;
			backface-visibility:*/ 
		}
		table{
			padding-top:50px;
			table-layout: fixed;
			position: relative;
			margin-top:50px;
			width:100%;

		}
		td {
		  width:20% ;
		}
		table,th,td{
			border: 1px solid black;
			width:92%;
			margin-top: 50px;
			margin-left:4%;
		}
		th,td{
			padding-top:15px;
			padding-bottom:15px;
			padding-left:50px;
			color: #2874A6;

		}
		
			.col-sm-6{
				line-height:2;
				color:#2874A6;

			}
			hr{
				visibility: hidden;
			}

		</style>

	</head>


	<body>
		<h2 style="text-align: center;color: #154360;">
			<b>VERIFICATION REPORT</b>
		</h2>
	<thead>
	<div class="container-fluid" style="border:2px solid black;margin-top:20px;border-radius:20px;margin-left:50px;margin-right: 50px;">
		
		<div class="col-sm-6" style="font-size:20px;margin-top:60px;">
			<span><b>Customer Name</b> - Name Here</span><br>
			<span><b>Client ID</b> - ID Here</span><br>
			<span><b>Location</b> - Location</span><br>
			<span><b>Address</b> - Address</span><br>
			<span><b>Customer type</b> - KYC Professional</span><hr>
		</div>

		<!-- <div class="col-sm-4" style="text-align: center;">
			<h2><b>VERIFICATION REPORT</b></h2>
		</div> -->

		<div class="col-sm-6" style="font-size:20px;margin-top:60px;">
			<span><b>Client Name</b> - Name Here</span><br>
			<span><b>Date Of Report</b> - 1st January 1970</span><br>
			<span><b>Report Made By</b> - Xerify</span><br>
			<span><b>Report Made for</b> - XYZ</span><br>
			<span style="font-size:30px;"><b>X&nbsp;E&nbsp;R&nbsp;I&nbsp;F&nbsp;Y</b></span>
		</div>
	
	</div>
</thead>

       
  <table cellpadding="2px" style="margin-top:50px;border:1px solid black;  ">
    
      <tr>
        <th style="font-size:20px;color:#154360;">Docs Verification</th>
        <th style="font-size:20px;color:#154360;">Input field</th>
        <th style="font-size:20px;color:#154360;">Verification Output</th>
      </tr>
    </thead>
    <tbody>
      <%for (var i=0; i< foundCart.items.length;i++){ %>
 			<%	if( foundCart.items[i].title  === "PAN CARD VERIFICATION") { %>
    <tr>
			<td><%= foundCart.items[i].title %></td>
			<td><b class="posh">Pan Card No :</b><%= pans.input_pan_no %></td>
			<td><b class="posh">PAN Holder Name:</b><%= pans.pan_name %></td>
		</tr>
		<% } else if( foundCart.items[i].title  === "DRIVING LICENSE AUTHENTICATION") { %>
			 <tr>
	 			<td><%= foundCart.items[i].title %></td>
	 			<td><b class="posh">Dl Number : </b><%= drivers.input_dl_no %><br>
					<b class="posh">DOB : </b><%= drivers.input_dob %></td>
	 			<td><b class="posh">Card Holder Name :</b><%= drivers.driver_name %><br>
					<b class="posh">Issue Date :</b><%= drivers.driver_issue_date %><br>
					<b class="posh">DOB on Card :</b><%= drivers.driver_dob_out %><br>
					<b class="posh">Blood Group :</b><%= drivers.driver_blood_group %><br>
					<b class="posh">Father/Husband :</b><%= drivers.driver_father %><br>
					<b class="posh">Address :</b><%= drivers.driver_address %><br>
					<%for (var x=0; x< drivers.driver_cov_details.length;x++){ %>
				<b class="posh">Cov Details Issue Date:</b><%= drivers.driver_cov_details[x].issue_date %><br>
				<b class="posh">Cov Details :</b><%= drivers.driver_cov_details[x].cov %><br>
				<% } %>
					<b class="posh">Validity Non-Transport :</b><%= drivers.driver_validity.non_transport %><br>
					<b class="posh">Validity Transport :</b><%= drivers.driver_validity.transport %></td>
	 		</tr>
     
    </tbody>
  </table>


</div>
		 
		

	</body>
</html>